transformers
datasets
evaluate
nltk
tensorboard
wandb
optimum
accelerate
torch
bitsandbytes
peft
pyyaml
scikit-learn
git+https://github.com/huggingface/trl.git
llama-index
llama-index-embeddings-huggingface